.intro {
  max-width: 984px;
  margin: 92px auto 0;
  padding: 0 48px;
}

.intro__title {
  margin: 0 0 40px;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
}

.intro__text {
  margin: 0 0 10px;
  max-width: 720px;
  font-size: 16px;
  line-height: 26px;
}

.intro__author {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
}
