.lead {
  max-width: 984px;
  margin: 0 auto;
  padding: 50px 48px 0;
}

.lead__title {
  margin: 0;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
}

.lead__subtitle {
  margin: 32px auto 64px;
  max-width: 720px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.lead__image {
  width: 100%;
  display: block;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding: 50px 24px 0;
  }

  .lead__title {
    font-size: 72px;
    line-height: 76px;
  }

  .lead__subtitle {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width: 544px) {
  .lead {
    padding: 40px 16px 0;
  }

  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    margin: 16px auto 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
