.page {
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  background: #2a2c2f;
  color: #fff;
  overflow-x: hidden;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 1024px) {
  .page {
    background-color: #2a2c2f;
  }
}
